body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#parent{
  background-color: brown;
}


#Child{
  background-color: green;
}

#Nestedchild{
  background-color: blue;
}
#fans{
  background-color: black;
}
.container{
  height: 100px;
  width: 100%;
  position: relative;
  background-color:black;
  display: flex;
}
#text{
  color: white;
}
.Home{
  padding: 0 15px;
}

.About{
  position: absolute;
  top: 0;
  display: flex;
  right: 40%;
  padding: 0 15px;
  align-items: flex-end;
  margin-right: auto;
  display: flex;
}

.Logout{
  position: absolute;
  right: 2%;
  display: flex;
  padding: 0 15px;
}


